* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --action-color: #2e80ce;
    --height-button: 60px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}


/* Common */

main>section {
    margin-top: 170px;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 0 20px;
    background-color: var(--action-color);
    border-radius: 99px;
    border: 1px solid #2e80ce;
    height: var(--height-button);
    line-height: var(--height-button);
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

/* HEADER */

.header {
    min-height: 100vh;
    background-color: var(--primary-color);
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.logo {
    font-size: 1rem;
    display: inline-flex;
}

.logo__circle {
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: var(--action-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    margin-left: 0.6em;
    line-height: 1.6em;
    text-align: right;
}

.logo__branch {
    display: block;
    font-size: 1.8em;
    color: #fff;
}

.logo__branch--small-text {
    font-size: 1.2em;
}

/* NAVBAR */
.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 4px 21px;
}

.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;

}

.navbar__link--active::before {
    position: relative;
    display: inline-block;
    content: "";
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -8px;
    top: -2px;
}

/* HEADER ACTION */
.header-action__login {
    margin-right: 7px;
    padding: 4px 21px;
    font-size: 1.6rem;
    color: #c9d2da;
}

.header-action__signup {
    --height-button: 44px;
}

/* HERO */

.hero {
    margin-top: 79px;
    display: flex;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    margin-right: -6px;
    z-index: 1;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* SERVICES */

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

.section-desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    width: 468px;
    margin-top: 18px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-left: auto;
    margin-right: auto;
}

.service-row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;

}

.service__list {
    width: 470px;
}

.service-item {
    display: flex;
    column-gap: 19px;
    border-radius: 10px;
    background: #FFF;
    padding: 20px;
    transition: ease 0.3s;
}

.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.service-item__icon-wrap {
    width: 60px;
    height: 60px;
    background-color: #EFF6FD;
    border-radius: 50%;
    flex-shrink: 0;
    transition: 0.3s;
}

.service-item:hover .service-item__icon-wrap {
    background-color: var(--action-color);
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service-item__cta {
    margin-top: 60px;
}

/* WORK */

.work {
    padding: 100px 0 100px;
    background: #F6FBFF;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    width: 370px;
    border-radius: 4px;
    padding: 43px 42px;
    border: solid 16px #EAF6FF;
    background-color: #FFF;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.385;
}

.work-item__desc,
.work-item__action {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 18px;
}

.work-item__action {
    display: inline-block;
    margin-top: 28px;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2E80CE;
    transition: 0.3s;
}

.work-item:hover .work-item__action {
    color: var(--action-color);
    font-weight: 400;
}